

@tailwind base;
@tailwind components;
@tailwind utilities;


.newWindow{
    margin-left: -500px;
    transition: all 1s ease-in  ;
}

.ActivenewWindow{
    margin-left: 0;
    transition: all 1s ease-in  ;
}

.bShadow{
    box-shadow: 2px 2px 4px gainsboro;
}